@font-face {
    font-family: Bebas;
    src: url("../../font/BEBAS.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("../../font/Pacifico-Regular.ttf");

}

@font-face {
    font-family: 'Anton', sans-serif;
    src: url("../../font/Anton-Regular.ttf");

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#MENU {
    width: 100vw;
    padding-top: .3rem;
    height: 20vh;
    background-image: url(../img/tiracuero.jpg);
}

.MENU_categorias{
    width: 100vw;

}

.MENU_categorias img{
    width: 100px;
    height: 100px;

}


#CUERPO {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/fondo_cerveceria.jpg);
    background-repeat: no-repeat;

}

.form_container {
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
button{
    background-color: transparent;
}
.left, .right {
    position: absolute;
    top: 40%;
    font-size: 4em;
    height: 100px;
    width: 100px;
    border: none;
    background-image:url(../img/siguiente.png);
    background-repeat: no-repeat;
    z-index: 2000;

}
.left {
    left: 0px;
}
.right {
    right: 0px;
    transform: rotate(180deg);
}
.form_container .slideContainer {
    white-space: nowrap;

}

.form_container .slideContainer .slide {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    background-size: 100%;
    background-repeat: no-repeat;
}



.cadaSlide-titulo{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.71);

}


.cadaSlide-imagen img {
    width:100%;
    position: relative;
    left: -50px;
    top: 5px;
    height: 100%;
    z-index: 2000;

}

.slide{
    width: 100vw;
    height: 100vh;

}

.cadaSlide{
    width: 100vw;
    height: 500px;
    /*background-color: red;*/
    margin: auto;
    display: flex;
    align-items: center;
}
.cadaSlide-imagen {
    padding: 0 !important;
    z-index: 2000;
    height: 60vh;
    width: 45%;
    /*background-color: blue !important;*/
    float: left;

}
.card{
    float: left;
    background-color: transparent !important;
    color: white !important;
    border: 0px !important;
    /*background-color: green !important;*/
    width: 40%;
    margin-left: 15%;
}
.card-header{
    border-bottom: 0 !important;
}

.cadaSlide-descrip{
    background-color: black;
    opacity: 0.7;
    padding: 1.3rem !important;
    color: aliceblue;
    white-space: normal;
    z-index: 1;
    height: 40vh;
    width: 100%;
    border-radius: 25px;

}
.cadaSlide-descrip p{
    width: 400px !important;
    font-size: 1.3rem !important;
}

.loPedido {
    width: 100px;
    height: 120px;
    z-index: 2002;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}

.botones{
    padding-top: 10px;
    font-size: 1.3rem;
}

#lista {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
}
.lista {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

}

.graciasMensaje{
  width: 849px;
  height: 577px;
}

.card-body img {
    width: 100px;
    height: auto;
}

.listaItem {
    width: 75vw;
    height: 90vh;
    background-color: rgba(181, 181, 181, 0.4);
    margin: 0 auto;
    padding: auto;
    display: block;

}

#ocultar {
    height: 120px;
    z-index: 2002;
    width: 12.5vw;
}

#ocultar{
    height: 20vh;
}

.precioTotal{
    width: 75vw;
    z-index: 2002;
    height: 20vh;
    font-family: Bebas;
    font-size: 2rem;
    margin-top: 10px;
    color: #fff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.91);


}

#aceptar {
    height: 20vh;
    z-index: 2002;
    width: 12.5vw;
}

#aceptar img{
    height: 20vh;
}

#listaFooter {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    height: 20vh;
}

#listaCuerpo {
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.card {
    font-family: Arial;
}

.listar_elementos{
    width: 75vw !important;
    height: 8vh !important;
    color: black ;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1.5rem;
}

.mostrar_descripcion{
    background-color: #b5b5b5;
    height: 8vh !important;
    padding-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.mostrar_cantidad{
    background-color: #313131;
    color: #fff;
    height: 8vh !important;
    font-family: Bebas;
    font-size: 2rem;
    padding: 0 25px 0 0;
    padding-top: 6px;


}

.modificar_cantidad{
    height: 8vh !important;
    font-size: 2rem;
}

.precio{
    height: 8vh !important;
    font-family: Bebas;
    font-size: 2rem;
    color: white;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.91);
}

/* Transicion para la presentacion*/
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

/* Transicion para la lista*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

h3{
    color: white;
}

.btn-primary{
    border-radius: 50px !important;
    background-color: #007eff;
    font-family: Bebas;
    font-size: 1.3rem !important;
    border: 2px solid #fff !important;


}

.titulo{
    font-family: Bebas;
    font-size: 2rem;
    margin-top: 10px;
    color: #fff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.91);
}

.estilo_precio{
    font-family: Bebas;
    font-size: 2rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.91);
    z-index: 3000;

}


.btn:disabled{
    color: white !important;
    background-color: #1b1e21 !important;
}

.imagenPresentacion{
    width: 100vw;
    height: 100vh;
}

#mostrarPresentacion{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4000;
    background-image: url(../img/fondo_presentacion.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;

}

.MENU_item{
    width: 100px;
    height: 100px;
}
.presentacion_item {
    width: 150px;
    height: 150px;
    z-index: 4004;
    margin-left: 75px;
    top:20px;}

.contenedorInicial{
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 60vh;
    flex-wrap: wrap;
    margin-top: 50px;

}

.graciasMensaje{
    margin: 0 auto;
    padding: 0 auto;
}
